@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,900');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', 'Roboto', 'Calibri', 'Serif';
	padding-bottom: 40px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

p{
	font-size:1rem;
}